body
{
	background-color: burlywood;
	color:black;
}
p
{
	background-color: ghostwhite;
	color:black;
}
#para
{
	font-style: italic;
	font-family: 'DM Sans', sans-serif;
	text-decoration: underline;
}